/* Reseteo básico */
* {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #d5f5e3;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: grid;
    place-items: center;
    height: 100%;
}

/* Estilo para encabezados */
h2 {
    color: #0cdc04;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el contenedor principal */
.contenedorPrincipal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}

.contenedorPrincipal label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #2c3e50;
}

.contenedorPrincipal input,
.contenedorPrincipal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contenedorPrincipal input[readonly],
.contenedorPrincipal textarea[readonly] {
    background-color: #f9f9f9;
}

/* Estilo para los botones */
input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #34495e;
}

/* Mensaje de error */
h2.error {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos adicionales */
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

/* Adaptación responsiva */

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h2 {
        font-size: 24px;
    }

    .contenedorPrincipal {
        width: 90%;
        margin: 10px auto;
    }

    .contenedorPrincipal input,
    .contenedorPrincipal textarea,
    input[type="submit"] {
        font-size: 14px;
        padding: 12px;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .contenedorPrincipal {
        width: 100%;
        padding: 15px;
    }

    .contenedorPrincipal input,
    .contenedorPrincipal textarea,
    input[type="submit"] {
        font-size: 14px;
        padding: 10px;
    }

    footer {
        font-size: 10px;
    }
}
